
.wrapper {
  display: flex;
  gap: 20px;
  width: 98%;
  margin: 1rem auto;
  font-family: "Inter", sans-serif;
}


.mainContent {
  flex: 1;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  min-height: 100vh;
}

/* Responsive */
@media screen and (max-width: 800px) {
  .wrapper {
    flex-direction: column;
  }

  .mainContent {
    padding: 10px;
  }
}
